{% load i18n %}

<form method="post" id="massNewsForm">
    {% csrf_token %}
    <fieldset class="module aligned">
        {% for field in form %}
            {% if field.name == 'session_filter' %}
                <h2>{% blocktrans %}Фильтры{% endblocktrans %}</h2>
            {% endif %}
            <div class="form-row{% if field.errors %} errors{% endif %}">
                <div>
                    <label for="{{ field.name }}">{{ field.label }}</label>{{ field }}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {% if field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            </div>
            {% if field.name == 'session_filter' %}
                <h2>{% blocktrans %}Опции для выбора пользователей платформы{% endblocktrans %}</h2>
            {% endif %}
        {% endfor %}
    </fieldset>
    <button type="submit" id="submitForm" class="btn btn-default" data-loading-text="{% blocktrans %}Отправить...{% endblocktrans %}">
        {% blocktrans %}Отправить{% endblocktrans %}</button>
</form>
