{% extends 'extension_email/base_main.html' %}
{% load static from staticfiles %}

{% load widget_filters i18n admin_static %}

{% block js %}
    {{ block.super }}
    {% include 'extension_email/_js_main.html' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
    {{ block.super }}
    {% include 'extension_email/_css_main.html' %}
{% endblock %}
